/* Esquema de cores */
/* 
  #000000;
  #F4FAFF;
  #5DFDCB;
  #7CC6FE;
  #8789C0;
*/
/* Fim do esquema de cores */

* {
  font-family: 'Times New Roman', Times, serif;
}
body{
  background-color: #000000;
  color:  #F4FAFF;
}

.voltando-normal{
  font-weight: normal;
  text-decoration: none;
}

.my-name{
  font-family:'Playfair Display', serif;
  letter-spacing: 0.75px;
}
.my-name {
  font-family: 'Roboto Serif', serif;
}


